{
    "branches": [
       "production",
       "staging",
        {
            "name": "develop",
            "prerelease": true
        }
    ],
    "plugins": [
        [
			"@semantic-release/commit-analyzer",
			{
				"releaseRules": [
					{
						"type": "hotfix",
						"release": "patch"
					},
					{
						"type": "bug",
						"release": "minor"
					},
					{
						"type": "task",
						"release": "minor"
					},
					{
						"type": "improvement",
						"release": "minor"
					},
					{
						"type": "breaking",
						"release": "major"
					}
				]
			}
		],
        [
            "@semantic-release/release-notes-generator",
            {
                "linkCompare": false,
                "linkReferences": false
            }
        ],
        [
            "@semantic-release/npm",
            {
                "npmPublish": false
            }
        ]
    ]
}